.i1 {
    position: relative;
    text-align: center;
    color: white;
}
.heads {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sp {
    margin: 20px;
}
#i1 {
    position: relative;
    left: 2%;
    display: inline;
}
.word {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}