.i1 {
    position: relative;
    text-align: center;
    color: white;
}
.heads {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sp {
    margin: 20px;
}